.second-content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.how {
  height: 100vh;
  min-width: 45vw;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrap-content {
  height: 100vh;
  min-width: 45vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transform: translate(-50%, -50%);*/
}

.register {
  
}

.register > p {
  
}

.draft {
  
}
.draft > p {
}
.exchange {
  
}
.exchange > p {
}
.register img {
  max-width: 5vw;
}
.draft img {
  max-width: 5vw;
}
.exchange img {
  max-width: 5vw;
}

@media only screen and (max-width: 992px) {
  .how {
    max-height: 50vh;
    min-width: 100vw;
    padding: 5rem 0rem;
  }
  .wrap-content {
    min-width: 100vw;
    text-align: center;
  }

  .register img {
    max-width: 10vw;
  }
  .draft img {
    max-width: 10vw;
  }
  .exchange img {
    max-width: 10vw;
  }
}
