.second-content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.how {
  flex: 1;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrap-content {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transform: translate(-50%, -50%);*/
}

.register {
  margin-bottom: 2rem;
}

.register > p {
  margin-top: 1rem;
}

.draft {
  margin-bottom: 2rem;
}
.draft > p {
  margin-top: 1rem;
}
.exchange {
  margin-bottom: 2rem;
}
.exchange > p {
  margin-top: 1rem;
}
.register img {
 max-width: 4rem;
}
.draft img {
  max-width: 4rem;
}
.exchange img {
  max-width: 4rem;
}

@media only screen and (max-width: 768px) {
  .how {
    max-height: 50vh;
    min-width: 100vw;
    padding: 5rem 0rem;
  }
  .wrap-content {
   margin-top: 3rem;
    text-align: center;
  }

  .register img {
    width: ;
  }
  .draft img {
   
  }
  .exchange img {
   
  }
}
