.second-content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.how {
  min-width: 50vw;
  background-color: blue;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrap-content {
  min-width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem 0rem;
}


.register {
  padding: 1rem 0;
  max-width: 90vw;
}

.register > p {
  padding: 2rem 0rem;
}

.draft {
  padding: 1rem 0;
  max-width: 90vw;
}

.draft > p {
  padding: 2rem 0rem;
}
.exchange {
  padding: 1rem 0;
  max-width: 90vw;
}

.exchange > p {
  padding: 2rem 0rem;
}
.register img {
  margin-bottom: 1rem;
  max-width: 5vw;
}
.draft img {
  margin-bottom: 1rem;
  max-width: 5vw;
}
.exchange img {
  margin-bottom: 1rem; 
  max-width: 5vw;
}

@media only screen and (max-width: 992px) {
  .how {
    min-width: 100vw;
    padding: 5rem 0rem;
  }
  .wrap-content {
    min-width: 100vw;
  }
  
  .register img {
    max-width: 10vw;
  }
  .draft img {
    max-width: 10vw;
  }
  .exchange img {
    max-width: 10vw;
  }
  
}
