.home-navbar {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  color: white;
}
.home-logo{
  display:flex ;
  align-items: center;
}
.home-logo>img{
  padding: 0rem .5rem;
}
.home-logo>h2{
  padding: 0rem .5rem;
}

.home-menu-list ul {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding-right: 2vw;
  justify-content: center;
}

.home-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-menu-list li {
  list-style: none;
  padding: 0rem 2rem;
}
.home-menu-list ul li a {
  color: white;
  text-decoration: none;
}

.home-menu-list > button {
  background-color: white;
  border-radius: 1rem;
  border: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .home-navbar {
     display: flex;
     justify-content: space-around;
  }
}
