.players-details {
  margin: 5rem 2rem;
  position: relative;
}

.players-slider {
  margin-top: 4rem;
}

.players-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin: 5rem 0rem;
  cursor: pointer;
}

.players-img img {
  max-width: 10rem;
}

.demo-orderdetails {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 1rem;
}

.first-column{
 min-height: 25rem;
}
.first-column-image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first-column-image img {
  max-width: 22rem;
}

.first-column-values {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.first-column-values li {
  list-style: none;
  line-height: 2rem;
}

.second-column {
  position: relative;
  min-height: 25rem;
}

.second-column-buttons button {
  background-color: rgb(224, 221, 221);
  cursor: pointer;
  padding: 0.4rem 2rem;
  border: black;
}

.second-column-dropdown {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
}

.second-column-dropdown select {
  padding: 0.2rem 2rem;
  background-color: rgb(224, 221, 221);
  border: black;
}

.second-column-dollar {
  display: flex;
  align-items: center;
}

.second-column-values {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  bottom: 2rem;
}
.second-column-dvalue>h1{
  font-size: 5rem;
}

.second-column-values img {
  margin-left: 1rem;
  max-width: 12rem;
}

.second-column > p {
  position: absolute;
  bottom: 2px;
}

.third-column {
  position: relative;
  min-height: 25rem;
}

.third-column-lakers {
  margin-top: 3.5rem;
  background-color: rgb(224, 221, 221);
  padding: 0.2rem 1rem; 
}

.third-column-zeros {
  margin-top: 4rem;
}

.third-column-values {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  bottom: 2rem;
}

.third-column-values img {
  margin-left: 1rem;
  max-width: 12rem;
}

.third-column > p {
  position: absolute;
  bottom: 2px;
}

@media only screen and (max-width: 768px) {
  .demo-orderdetails {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
  }

}

@media only screen and (max-width: 400px) {

.first-column{
  max-width: 90vw;
}
.first-column-image img {
  max-width: 80vw;
}
.first-column-values {
  padding: 1rem;
}

.second-column {
  max-width: 90vw;
}
.second-column-dollar {
  display: flex;
  align-items: center;
}

.second-column-values {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  bottom: 2rem;
}
.second-column-dvalue>h1{
  font-size: 3rem;
}

.second-column-buttons>button{
  padding: 0.4rem 1rem;
}

.second-column-values img {
  margin-left: 1rem;
  max-width: 12rem;
}

.second-column > p {
  position: absolute;
  bottom: 2px;
}

.third-column {
  position: relative;
  min-height: 25rem;
}

.third-column-values {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 2rem;
}
}