.footer {
  min-height: 35vh;
  background-color: rgb(40, 39, 39);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: white;
  padding: 3rem 2rem;
  gap: 1rem;
  margin-top: 5rem;
}

.footer-logo {
  flex: 1;
}
.footer-logo img {
  max-width: 14rem;
  border-radius: 50%;
}

.footer-logo > p {
  padding-top: 4rem;
}

.footer-image {
  flex: 1;
}
.footer-image img {
  padding-top: 4rem;
  max-width: 16rem;
}

.footer-questions {

}
.footer-questions > p {
  padding-top: 3.6rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
   justify-content: center;
    gap: 8rem;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-logo img {
    max-width: 13rem;
  }

  .footer-image {
    text-align: center;
    align-items: center;
  }

  .footer-image img {
    max-width: 14rem;
  }

  .footer-questions {
    text-align: center;
  }
}
