@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: Roboto;
  font-size: 20px;
}

html {
  overflow-x: hidden;
}
